* {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body,
html {
  background: #fefbfa !important;
  font-family: "Roboto", sans-serif;
}

.carousel  {
  background: transparent !important;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.carousel {
  margin-top: 5rem;
  height: 47.3rem !important;
}

.horizontalSlider___281Ls  {
  height: 100% !important;
}
.slideHorizontal___1NzNV {
  height: 47.3rem !important;
  padding: 0 !important;
} 
.buttonBack___1mlaL, .buttonNext___2mOCa {
  background: #00000078;
  color: #fff;
  border: none;
  padding: 1rem 0.6rem;
  border-radius: 400px;
  z-index: 100;
  margin-top: -10rem;
}

a {
  color: #000;
}