.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 100px;
}

.signup > button {
  padding: 25px 100px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #294c60;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.signup > button:hover {
  background: #001b2e;
  transform: scale(1.1);
}

.adminPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
}

.addProductForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 5rem;
}

.addProductForm > input {
  width: 35%;
  border: 1px solid #000;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 18px;
}

.addProductForm > textarea {
  width: 35%;
  border: 1px solid #000;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 18px;
  resize: vertical;
}

.addProductForm > select {
  width: 35%;
  border: 1px solid #000;
  padding: 15px 10px;
  border-radius: 5px;
  font-size: 18px;
  resize: vertical;
}

.addProductForm > h4 {
  width: 35%;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.addProductForm > button {
  margin-top: 2rem;
  padding: 20px 100px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #294c60;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.addProductForm > button:hover {
  background: #001b2e;
}
